@model List<Harcamalar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h1 class="font-bold pl-2">Harcamalar</h1>
    </div>
</div>

<div class="flex flex-wrap p-4">
    <div class="w-full overflow-x-auto">
        <table class="table-fixed w-full border-collapse border border-gray-400 text-left">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-300 px-4 py-2">ID</th>
                    <th class="border border-gray-300 px-4 py-2">Başlık</th>
                    <th class="border border-gray-300 px-4 py-2">Açıklama</th>
                    <th class="border border-gray-300 px-4 py-2">Fiyat</th>
                    <th class="border border-gray-300 px-4 py-2">Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="hover:bg-gray-100">
                        <td class="border border-gray-300 px-4 py-2 truncate">@item.HarcamalarId</td>
                        <td class="border border-gray-300 px-4 py-2 truncate">@item.Title</td>
                        <td class="border border-gray-300 px-4 py-2 truncate">@item.Description</td>
                        <td class="border border-gray-300 px-4 py-2 truncate">@item.Price</td>
                        <td class="border border-gray-300 px-4 py-2 truncate">@item.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Sayfalama (Pagination) -->
        <div class="mt-6 flex justify-center">
            <nav class="inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                @if ((int)ViewBag.CurrentPage > 1)
                {
                    <a href="?page=@((int)ViewBag.CurrentPage - 1)" class="bg-white border border-gray-300 px-3 py-2 text-gray-500 hover:bg-gray-100">‹</a>
                }

                @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <span class="bg-blue-500 text-white px-4 py-2 border border-gray-300">@i</span>
                    }
                    else
                    {
                        <a href="?page=@i" class="bg-white text-gray-700 hover:bg-gray-100 px-4 py-2 border border-gray-300">@i</a>
                    }
                }

                @if ((int)ViewBag.CurrentPage < (int)ViewBag.TotalPages)
                {
                    <a href="?page=@((int)ViewBag.CurrentPage + 1)" class="bg-white border border-gray-300 px-3 py-2 text-gray-500 hover:bg-gray-100">›</a>
                }
            </nav>
        </div>
    </div>
</div>

